<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWcNpX7BiEKhwVd01kUElWNKuoJyl1yec</string>
	<key>GCM_SENDER_ID</key>
	<string>435568728591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gebeya</string>
	<key>PROJECT_ID</key>
	<string>gebeya-60e28</string>
	<key>STORAGE_BUCKET</key>
	<string>gebeya-60e28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435568728591:ios:7e164061c4b221d519a17a</string>
</dict>
</plist>